.the-review {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  &__name {
    margin-bottom: var(--margin-l);
    font-size: var(--font-size-l);
    font-weight: var(--font-weigth-m);
  }

  &__text {
    // margin: 0;
    line-height: 1.1;
    font-size: var(--font-size-m);
    color: var(--dark-gray);
    flex: 1;
  }
}
