.the-home {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xxl) 0;

  @media (max-width: 425px) {
    padding: var(--padding-s) ;
  }

  &__main-slider {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    @media (max-width: 768px) {
      height: 380px;
    }

    @media (max-width: 425px) {
      height: 420px;
    }
  }
}
