.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0);
}

.app-side-panel {
  &__burger-wrapper {
    position: fixed;
    left: 0;
    width: 100%;
  }
}